header{
    display: flex;
    text-align: center;
    justify-content: space-between  ;
    align-items: center;
    background-color: #191919;
    width: 100%;
}

.logo{

    display: flex;
    align-items: center;
    
}
.Inicio{
    display: flex;
    color: black;

}

.Inicio a{

    background-color: rgb(78, 3, 78);
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 30px;
    padding: 5px;
}