.col{
    display: flex;
    text-align: start;
    padding: 100px;
    align-items: center;
}
.card.h-100{
    background-color: #e0ca04;
    object-fit: cover;
    width: 100%;
    margin: 2%;
    margin-top: 20px;
    width: 429px;
    box-shadow: 0 .1rem 4rem black;
    border: 2px solid black ;
    h5{
        background: none;
        width: 110px;
    }
}